* {
    padding: 0px;
    margin: 0px;
}

/*Corpo*/

article {
    background-color: rgb(10 10 10);
    z-index: 99;
    position: relative;
}

#principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#artigoSpace {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
    padding-top: 185px;
    padding-bottom: 94px;
}

@media only screen and (max-width:900px){
    #principal {
        flex-wrap: wrap;
    }

    #blocoResumos {
        width: 100%!important;
        margin-bottom: 25px;
    }

    #menuLateral {
        width: 100%!important;
        margin-left: 0px!important;
    }
}

