#menuLateral {
    width: 245px;
    margin-left: 5px;
    background-color: #181818;
    position: sticky;
    top: 0px;
    padding: 20px 0px 20px 0px;
    color:white
}


#menuLateral ul {
    margin: 5px;
}

#menuLateral li {
    list-style: none;
    cursor: pointer;
    padding: 2.5px;
    border-bottom: dotted 1px gray;
}

#menuLateral a {
    color: white;
    text-decoration: none;
}

#menuLateral a:hover {
    color: blue;
}

#menuLateral h2 {
    color: blue;
}

#artRecBloco, #artPopBloco, #categoBloco {
    margin: 0px 5px 0px 5px;
    padding: 5px 0px 5px 0px;
}
